@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ActOfRejection";
  src: url("/src/assets/Font/act_of_rejection/Act_Of_Rejection.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/Font/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype")  ;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat_Italic";
  src: url("/src/assets/Font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/Font/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter_Italic";
  src: url("/src/assets/Font/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.text-outline {
  font-weight: bold;                     
  -webkit-text-stroke: 1px black;      
  color: transparent;                  
  text-transform: uppercase;           
}
.text-outline2 {
  -webkit-text-stroke: 1px white;   
  font-weight: bold;                   
  color: transparent;                  
  text-transform: uppercase;           
}